<!DOCTYPE html>
<html>
<head>
    <title>Candidate Ranking</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<div class="container">

    <div class="form-card">

        <h1>Candidate Ranking</h1>

        <textarea
            id="job"
            placeholder="Example: Python Flask Azure SQL">
        </textarea>

        <button onclick="rankCandidates()">
            Rank Candidates
        </button>

        <div id="result"></div>

    </div>

</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>